<launch>

    <arg name="robot" default="$(find mujoco_sim)/model/test/bowl.xml" />
    <arg name="use_urdf" default="false" />
    <arg name="world" default="$(find mujoco_sim)/model/world/empty.xml" />
    <arg name="config" default="$(find mujoco_sim)/src/config/robot.yaml" />
    <arg name="disable_parent_child_collision_level" default="1" />

    <group if="$(arg use_urdf)">
        <node name="mujoco_compile" pkg="mujoco_sim" type="mujoco_compile_node" output="screen" args="$(arg robot) $(arg disable_parent_child_collision_level)" />
        <param name="robot_description" command="$(find xacro)/xacro '$(arg robot)'" />
        <node name="mujoco_sim" pkg="mujoco_sim" type="mujoco_sim_node" output="screen" launch-prefix="bash -c 'sleep 0.5; $0 $@' ">
            <rosparam command="load" file="$(arg config)" />
            <param name="world" value="$(arg world)" />
            <param name="robot" type="str" value="$(arg robot)" />
        </node>
    </group>

    <group unless="$(arg use_urdf)">
        <node name="mujoco_sim" pkg="mujoco_sim" type="mujoco_sim_node" output="screen">
            <rosparam command="load" file="$(arg config)" />
            <param name="world" value="$(arg world)" />
            <param name="robot" type="str" value="$(arg robot)" />
        </node>
    </group>

</launch>