<launch>

    <arg name="robot" />
    <arg name="config" default="$(find mujoco_sim)/src/config/default.xml" />
    <arg name="use_urdf" default="false" />

    <group if="$(arg use_urdf)">
        <node name="mujoco_compile" pkg="mujoco_sim" type="mujoco_compile" output="screen" args="$(arg robot)" />
        <node name="mujoco_sim" pkg="mujoco_sim" type="mujoco_sim" output="screen" launch-prefix="bash -c 'sleep 0.5; $0 $@' ">
            <param name="config" type="str" value="$(arg config)" />
        </node>
    </group>

    <group unless="$(arg use_urdf)">
        <node name="mujoco_sim" pkg="mujoco_sim" type="mujoco_sim" output="screen" >
            <param name="robot" type="str" value="$(arg robot)" />
            <param name="config" type="str" value="$(arg config)" />
        </node>
    </group>

</launch>